$base-height:  100vh;

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $base-height;
}

.full-width {
    width: 100%;
}

mat-card {
    width: 40vw;
}

mat-form-field {
    margin-top: 1em;
}

@media (max-width: 500px) {
    mat-card {
        width: 75vw;
        flex-wrap: wrap;
    }
}
